/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

main {
    background: #ffffff;
<<<<<<< HEAD
    min-height: 491px;
=======
    height: 484px;
>>>>>>> master
}

.banniere {   
    height: auto;
    width: 100%;
    max-width: 100%;
}

.align-center {
    text-align: center;
}

/* write titles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

h3 { 
    color: #bc2fcc; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #33383b; 
}
 
h3 span { 
    background:#fff; 
    padding:0 10px; 
}

/* write in the texts */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 25px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-justify: inter-word; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #bc2fcc;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

button {   
    padding: 10px;
    background: #bc2fcc;
    border: none;
    outline: none;

    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
<<<<<<< HEAD

    margin-bottom: 15px;
}

/* --------------- MOVING DIVISION ---------------  */
=======
}

/*  */
>>>>>>> master
#moving-div {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}
  
#moving-display {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #bc2fcc;
    color: #fff;
}

<<<<<<< HEAD
/* --------------- GUESSING GAME --------------- */
=======
/* guessing game */
>>>>>>> master
/* TODO: center horizontally*/
#submitguess {
    padding: 10px;
    background: #bc2fcc;
    border: none;
    outline: none;

    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

#guessField {
    height: 35px;
}

<<<<<<< HEAD

/* --------------- NAIL TO DO LIST --------------- */
/* color palette */
.row {
    display: inline-block;
}

.color-display-red {
    width: 100px;
    height: 150px;
    background: red;
}

.color-display-red:hover {
    transform: scale(1.1);
}

.color-display-orange {
    width: 100px;
    height: 150px;
    background: rgb(255, 123, 0);
}

.color-display-orange:hover {
    transform: scale(1.1);
}

.color-display-transition-orange {
    width: 100px;
    height: 150px;
    background: orange;
}

.color-display-transition-orange:hover {
    transform: scale(1.1);
}

.color-display-yellow {
    width: 100px;
    height: 150px;
    background: yellow;
}

.color-display-yellow:hover {
    transform: scale(1.1);
}

.color-display-green {
    width: 100px;
    height: 150px;
    background: rgb(39, 211, 16);
}

.color-display-green:hover {
    transform: scale(1.1);
}

.color-display-darkgreen {
    width: 100px;
    height: 150px;
    background: green;
}

.color-display-darkgreen:hover {
    transform: scale(1.1);
}

.color-display-lightblue {
    width: 100px;
    height: 150px;
    background: rgb(23, 178, 230);
}

.color-display-lightblue:hover {
    transform: scale(1.1);
}

.color-display-darkblue {
    width: 100px;
    height: 150px;
    background: blue;
}

.color-display-darkblue:hover {
    transform: scale(1.1);
}

.color-display-purple {
    width: 100px;
    height: 150px;
    background: purple;
}

.color-display-purple:hover {
    transform: scale(1.1);
}

.color-display-pink {
    width: 100px;
    height: 150px;
    background: palevioletred;
}

.color-display-pink:hover {
    transform: scale(1.1);
}

/* nail form */





/* nail length */


/* table to store the data */
table {
    margin: 0 auto;
  border: 2px solid red;
  width: 95%;
  text-align: center;
}

th {
    background-color: lightyellow;
  font-family: 'Lato', sans-serif;
  color: green; 
  font-size: 20px; 
  font-weight: 100;
}

td {
  height: 50px;
}
=======
>>>>>>> master
