/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #ffb6c1;
}

main {
    background: #ffffff;
}

.banniere {   
    height: auto;
    width: 100%;
    max-width: 100%;
}

/* write titles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

h3 { 
    color: #d86f92; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #33383b; 
}
 
h3 span { 
    background:#fff; 
    padding:0 10px; 
}

/* write in the texts */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 25px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-justify: inter-word; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #d86f92;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

button {
    
    padding: 10px;
    background: #d86f92;
    border: none;
    outline: none;

    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

/*  */
#moving-div {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}
  
#moving-display {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #d86f92;
    color: #fff;
}

/* guessing game */
