/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banniere {   
    height: auto;
    width: 100%;
    max-width: 100%;
}

/* write titles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    text-shadow: 3px 2px 1px rgba(188,47,204,0.9);
}

h3 { 
    color: #bc2fcc; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #33383b; 
}
 
h3 span { 
    background:#fff; 
    padding:0 10px; 
}

/* write in the texts */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 25px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #bc2fcc;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

.column {
    float: left;
    width: 50%;
    padding-top: 20px;
    padding: 20px;
}

.column p {
    padding: 20px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.check-box-yes {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:#bc2fcc;
	background-color:#bc2fcc;
	border-radius:6px;
	border:1px solid #33383b;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:12px;
	font-weight:bold;
	padding:4px 4px;
	margin-right: 5px;
}

.check-box-no {
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:#bc2fcc;
	background-color:#bc2fcc;
	border-radius:6px;
	border:1px solid #33383b;
	display:inline-block;
	color:#ffffff;
	font-family:Georgia;
	font-size:16px;
	font-weight:bold;
	padding:4px 4px;
	margin-right: 5px;
}
/* button back to top */
#top-button {
    display: none;
    display: right;
    border: none;
    outline: none;
    background-color: #bc2fcc;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;

    position: sticky;
    bottom: 20px;
}
  
#top-button:hover {
    color: #bc2fcc;
    background-color: white;

    border-width:2px;
    border-style:solid;
    border-color:#bc2fcc;
}

/* media queries */
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }

    h3 {
        line-height: 1.5em;
        border-bottom-color: white;
    }
}

@media screen and (max-width: 1200px) {
    h3 {
        line-height: 1.2em;
        border-bottom-color: white;
    }
}

/* media queries */
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }

    h3 {
        line-height: 1.5em;
        border-bottom-color: white;
    }
}
