/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
main {
    max-height: 100%;
}

=======
>>>>>>> master
/* write titles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}


h3 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #bc2fcc; 
}
 
h3 span { 
    background:#fff; 
    padding:0 10px; 
}

/* write in the texts */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 19px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify; 
    text-justify: inter-word; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #bc2fcc;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

/* button back to top */
#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #bc2fcc;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#top-button:hover {
    color: #bc2fcc;
    background-color: white;

    border-width:2px;
    border-style:solid;
    border-color:#bc2fcc;
}

.banniere {   
    height: auto;
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width:600px) {
    img {
        resize: both;
        max-width: 100%;
    }

    #photo-row {
        width: 100%;
    }

    p {
        margin-left: 10px;
        margin-right: 10px;
    }

    h3 {
        line-height: 40px;
        border-bottom: white;

    }

    h2 {
        font-size: 80px;
    }

    .youtube {
        max-width: 100%;
        width: 400px;
        height: 100px;
    }
}


@media all and (max-width: 800px) {
    .youtube {
        max-width: 100%;
    }
}

@media all and (max-width: 1200px) {
	p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .youtube {
        max-width: 100%;
        width: 600px;
        min-height: 240px;
    }
}