/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#photo-row {
    background-image: url("../img/fibre-de-verre/glassfiber.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #cccccc;
    height: 400px;
    width: 100%;
}

/* write titles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}


h3 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    /*line-height: 32px; 
    margin: 0 0 40px; */
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #d86f92; 
}
 
h3 span { 
    background:#fff; 
    padding:0 10px; 
}

/* write in the texts */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 19px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    margin-left: 300px;
    margin-right: 300px;
    text-align: justify; 
    text-justify: inter-word; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #d86f92;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}


@media screen and (max-width:600px) {
    img {
        resize: both;
        max-width: 100%;
    }

    #photo-row {
        width: 100%;
    }

    p {
        margin-left: 10px;
        margin-right: 10px;
    }

    h3 {
        line-height: 60px;
        border-bottom: white;

    }

    h2 {
        font-size: 80px;
    }

    iframe {
        max-width: 100%;
        width: 400px;
        height: 200px;
    }
}

@media all and (max-width: 1200px) {
	p {
        margin-left: 20px;
        margin-right: 20px;
    }

    iframe {
        max-width: 100%;
        width: 600px;
        height: 350px;
    }
}