/* ----------------------------- footer ----------------------------- */
main {
  min-height: 100hv;
  /* need a solid bg to hide the footer */
  background: white;
  /* put on top */
  position: relative;
  font: 16px/1.4 system-ui, sans-serif;
  padding: 2rem;
}

body {
  margin: 0;
}

/* ----------------------------- overall footer ----------------------------- */
.footer-distributed {
  background: linear-gradient(-45deg,#f403d1,#64b5f6);
  box-sizing: border-box;
  width: 100%;

  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;

  Position:static;
  z-index: 1000;
}

/* ----------------------------- footer : left part ----------------------------- */
.footer-left {
  z-index: 10;
  max-width: 550px;
}
/* police d'ecriture */
.footer-distributed .footer-left p {
  color: white;
  font-size: 16px;
}

.p-footer {
  margin-left: 0px;
}

<<<<<<< HEAD
.footer-distributed .footer-links {
  max-width: 50%;
}

=======
>>>>>>> master
/* manage the display of the left part of the footer (the links) */
.footer-distributed p.footer-links {
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin: 0 0 10px;
  max-width: 50%;
}

/* manage the display of each element */
.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: white;
}

/* add a dot between each link */
.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  color: white;
  display: inline-block;
  padding-right: 7px;
}

/* remove the dot before the first link (index) */
.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* when hovered over : the link gets underlined */
.footer-distributed p.footer-links a:hover{
  text-decoration:underline;
}

/* ----------------------------- footer : right part ----------------------------- */
/* manage the display of the right part of the footer (social medias) */
.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 200px;
<<<<<<< HEAD
  z-index: 50;
=======
>>>>>>> master
}

/* manage the display of each element */
.footer-distributed .footer-right a {
  display: inline-block;
  width: 40px;
  height: 40px;
<<<<<<< HEAD
  
=======
>>>>>>> master

  background-color: white;
  border-radius: 2px;

  font-size: 24px;
<<<<<<< HEAD
  color: black;
=======
  color: linear-gradient(-45deg,#f403d1,#64b5f6);
>>>>>>> master
  text-align: center;

  line-height: 35px;
  margin-left: 3px;

  transition:all .25s;
}

/* when hovered over: it gets a bit bigger by 1.1 ratio */
.footer-distributed .footer-right a:hover{
  transform:scale(1.1); 
  -webkit-transform:scale(1.1);
}


/* frame that includes the footer into all the other files when called */
iframe {
  max-width: 100%;
}

iframe[seamless] {
  border: none;
  width: 100%;
<<<<<<< HEAD

=======
  height: 157px;
>>>>>>> master
  margin-bottom: -4px;  /* make the footer fully stick at the bottom and thus get rid of the small space */
}


/* diagonal decoration */
<<<<<<< HEAD
=======

>>>>>>> master
.footer-distributed::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  -webkit-transform: skewY(-5deg) scale(1.5);
        transform: skewY(-5deg) scale(1.5);
}

/* ----------------------------- Media Queries ----------------------------- */
/* adapt the display to the size of the window */
@media (max-width: 600px) {
.footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }

  iframe {
    max-width: 100%;
<<<<<<< HEAD
    height: 270px;
=======
>>>>>>> master
  }
}

@media (max-width: 800px) {
  iframe {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  iframe {
    max-width: 100%;
  }
}
<<<<<<< HEAD
=======



>>>>>>> master
