@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html{
	background-color: #eaf0f2;
}

body {
	margin:0;
	padding:0;
}

.header{
	position: none;
	padding: 20px 40px;
	box-sizing:border-box;
	box-shadow: 0 0 7px 0 hsla(0, 0%, 0%, 0.15);
	height: 80px;
	/*background-color: #d87093;*/
	background: linear-gradient(-45deg,#f403d1,#64b5f6);
}

.header .header-container {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */
.header .header-container h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
	color:#f403d1;
}

.header .header-container h1 span {
	text-decoration: underline;
}

/* The header links */
.header .header-container a {
	color: white;
	text-decoration: none;
}

.header .header-container nav{
	font:18px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header .header-container nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: white;
	line-height:1;
}

.header .header-container nav a.selected {
	background-color: white;
	color: #f403d1;
	border-radius: 3px;
	padding:6px 10px;
}

.header .header-container nav a:hover {
	transform: scale(1.2);
}



@media all and (max-width: 600px) {
    
	.header .header-container h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header .header-container nav {
		line-height: 2;
		float:none;
	}

	.header .header-container nav a {
		font-size: 17px;
	}
}

@media all and (max-width: 1200px) {
	.header {
		padding: 40px;
		height: 150px;
	}
}