/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 300px;
}


img {   
    height: auto;
    max-width: 100%;
}

/* ------------------ Top photo in the index page -------------------*/

#photo-intro {
    background-image: url("../img/index/chlochette-romzer.png");
    background-repeat: no-repeat;
    background-size: cover;

    height: 340px;
    max-width: 100%;
}

/* ----------------------------- body ----------------------------- */
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding-top: 20px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#preping {
    width: 100%;
    text-align: left;
}

/* ------------------ writing styles ------------------ */
h2 {
    width: 100%; 
    font-size: 25px;
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 
 
h2 span { 
    background:#fff; 
    padding:0 10px; 
}

/* overall text */

.align-center {
    text-align: center;
}

/* ------------------ BUTTONS --------------------- */
/* buttons "GO TO PAGE" */
.button {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-top: 30px;
    text-align: center;
}

.button .bottom {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 100%;
    height: 100%;
    background-color: #d86f92;
    display: block;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button .top {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 24px 34px 22px 34px;
    border: 2px solid #33383b;
}

.button-dark .top {
    border: 2px solid white;
}

.button .top .label {
    font-family: sans-serif;
    font-weight: 600;
    color: #33383b;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button-dark .top .label {
    color: #fff;
}

.button:hover .bottom {
    left: 0;
    top: 0;
    background-color: white;
}

.button:hover .top .label {
    color: palevioletred;
}

.button-border {
    position: absolute;
    background-color: #33383b;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.button:hover .top .button-border-left,.button:hover .top .button-border-right {
    height: calc(100% + 2px);
}

.button:hover .top .button-border-top,.button:hover .top .button-border-bottom {
    width: calc(100% + 2px);
}

.button-border-left {
    left: -2px;
    bottom: -2px;
    width: 2px;
    height: 0;
}

.button-border-top {
    left: -2px;
    top: -2px;
    width: 0;
    height: 2px;
}

.button-border-right {
    right: -2px;
    top: -2px;
    width: 2px;
    height: 0;
}

.button-border-bottom {
    right: -2px;
    bottom: -2px;
    width: 0;
    height: 2px;
}

/* social media buttons in main */
.fa-index {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: #33383b;
    margin-left: 15px;
}
  
.fa-index:hover {
    opacity: 0.7;
}
  
.fa-index-facebook {
    background: #d86f92;
    color: white;
}
  
.fa-index-twitter {
    background: #d86f92;
    color: white;
}
 

.fa-index-linkedin {
    background: #d86f92;
    color: white;
}


.fa-index-instagram {
    background: #d86f92;
    color: white;
}

/* -------------------- article divisions --------------------- */
/* Box */

.box {
    width: 600px;
    height: 550px;

    margin-bottom: 10px;
    margin-left: 60px;

    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    border-color: #33383b;

    box-shadow: 3px 3px lightgray;
}

.box .image.fit {
    margin: 0;
    border-radius: 0;
    max-width: 100%;
}

.box .image.fit img {
    border-radius: 0;
}

.box .content {
    padding: 3rem;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .box {
        width: 100%;
        margin: auto;
    }

    .fa-index {
        display: inline-block;
        width: 15px;
    }
}


/* Image in box */

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

.image img {
    display: block;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.fit {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3rem 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}