/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banniere {   
    height: auto;
    width: 100%;
    max-width: 100%;
}

#photo-row {
    background-image: url("../img/polygel/polygel.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #cccccc;
    height: 500px;
    width: 100%;
}

/* write titles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 

    text-shadow: 3px 2px 1px rgba(188,47,204,0.9);
}

h3 { 
    color: #33383b; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #bc2fcc; 
}
 
h3 span { 
    background:#fff; 
    padding:0 10px; 
}

/* write in the texts */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 18px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; 
    margin-left: 180px;
    margin-right: 180px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #bc2fcc;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

.polygel-photo {
    max-width: 100%;
}

.align-center {
    text-align: center;
}

/* button back to top */

#top-button {
    border: none;
    outline: none;

    background-color: #bc2fcc;
    opacity: 0.8;
    color: white;

    cursor: pointer;
    width: 40px;
    height: 35px;
    padding: 10px;
    border-radius: 4px;

    position: sticky;
    bottom: 10px;

    margin-left: 97%;
}
  
#top-button:hover {
    color: #bc2fcc;
    background-color: white;

    border-width:2px;
    border-style:solid;
    border-color:#bc2fcc;
}

.youtube {
    margin-bottom: 18px;
}

/* media queries */
@media screen and (max-width: 600px) {
    h3 {
        line-height: 1.5em;
        border-bottom-color: white;
    }

    p {
        margin: 5px;
    }
}

@media screen and (max-width: 1200px) {
    h3 {
        line-height: 1.5em;
        border-bottom-color: white;
    }

    p {
        margin: 10px;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    html, body {
      scroll-behavior: smooth;
    }
}
