/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#photo-row {
    background-image: url("../img/polygel/polygel.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #cccccc;
    height: 500px;
    width: 100%;
}

/* write titles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}


h3 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center; 
}

/* write in the texts */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #d86f92;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

iframe {
    margin: 15px;
}

/* media queries */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    h3 {
        line-height: 1.5em;
        border-bottom-color: white;
    }

    iframe {
        width: 100%;
        max-width: 31%;
    }
}
