/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------ Top photo in the index page -------------------*/
.front-photo{
    max-width: 100%;
    height: auto;
}

/* ----------------------------- body ----------------------------- */
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 57px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-3 {
    float: left;
    width: 33.3%;
    padding: 25px;
    height: 200px;
}

/* line that separates the header with the main part of the page */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #bc2fcc;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: -20px;
}

/* write titles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;

    text-shadow: 3px 2px 1px rgba(188,47,204,0.9);
}


h3 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 10px; 
    text-align: center; 
    margin-top: 40px;
    margin-bottom: -20px;
}

h4 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    margin-top: 10px;
    text-decoration: underline #bc2fcc;
}

h5 {
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 45px; 
    font-weight: 300; 
    line-height: 32px; 
    margin-top: 50px;
    text-align: center; 
}

/* button back to top */
#top-button {
    display: none;
    display: right;
    border: none;
    outline: none;
    background-color: #bc2fcc;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;

    position: sticky;
    bottom: 20px;
}
  
#top-button:hover {
    color: #bc2fcc;
    background-color: white;

    border-width:2px;
    border-style:solid;
    border-color:#bc2fcc;
}


/* write in the texts */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 20px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; 
}

img {   
    height: auto;
    width: 100%;
    max-width: 600px;
}

.banniere {   
    height: auto;
    width: 100%;
    max-width: 100%;
}

.align-center {
    text-align: center;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
        padding:5px;
    }

    img {
        resize: both;
        width: 100%;
    }

    h4 {
        margin-top: 30px;
    }
}


/* media queries */
@media screen and (max-width:1200px) {
    .column {
        width: 100%;
        padding:10px;
    }

    img {
        resize: both;
        width: 100%;
    }

    h4 {
        margin-top: 30px;
    }
}

