/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------ Top photo in the index page -------------------*/
.front-photo{
    max-width: 100%;
    height: auto;
}

/* ----------------------------- body ----------------------------- */
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 57px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-3 {
    float: left;
    width: 33.3%;
    padding: 25px;
    height: 200px;
}

/* line that separates the header with the main part of the page */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #bc2fcc;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: -20px;
}

/* write titles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 70px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}


h3 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 10px; 
    text-align: center; 
    margin-top: 40px;
    margin-bottom: -20px;
}

h4 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    margin-top: 10px;
    text-decoration: underline #bc2fcc;
}

h5 {
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 45px; 
    font-weight: 300; 
    line-height: 32px; 
    margin-top: 50px;
    text-align: center; 
}



/* write in the texts */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 20px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; 
}

img {   
    height: auto;
    width: 100%;
    max-width: 600px;
}

.banniere {   
    height: auto;
    width: 100%;
    max-width: 100%;
}

.align-center {
    text-align: center;
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
        padding:5px;
    }

    img {
        resize: both;
        width: 100%;
    }

    h4 {
        margin-top: 30px;
    }
}

/* button back to top */
/*Floating Back-To-Top Button*/
#top-button {
    position: fixed;
    bottom: 20px;
    float: right;
    right: 9%;
    left: 91%;

    max-width: 50px;
    height: 40px;
    border-radius: 8em;
    width: 100%;

    border-color: #33383b;
    background-color: rgb(100,100,100);
    padding: 5px;
    border-radius: 4px;

    font-size: 12px;
    color: white;

}

/*On Hover Color Change*/
#top-button:hover {
    background-color: #bc2fcc;
}


/* media queries */
@media screen and (max-width:1200px) {
    .column {
        width: 100%;
        padding:10px;
    }

    img {
        resize: both;
        width: 100%;
    }

    h4 {
        margin-top: 30px;
    }
}

