body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
  
html {
box-sizing: border-box;
}

img {
    width: 1080px;
    height: auto;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #33383b;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

@media screen and (max-width: 650px) {
.column {
    width: 100%;
    display: block;
    }
}

/* writing styles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    margin-bottom: -10px;
    margin-top: -10px;
}

h3 {
    font-size: 25px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid palevioletred;
    margin: 1em 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-size: 20px;
}

.align-center {
    text-align: center;
}

.fa-presentation {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border-color: #33383b;
    margin-left: 15px;
}
  
.fa-presentation:hover {
    opacity: 0.7;
}

.fa-presentation-linkedin {
    background: #d86f92;
    color: white;
}
