body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
}

*, *:before, *:after {
    box-sizing: inherit;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #bc2fcc;
    margin: 1em 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

h6 {
    font-size: 50px;
    margin-top: -10px;

    font-weight: 300; 
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #64b5f6; 
}

h6 span {
    background:#fff; 
    padding:0 10px; 
}

h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    margin-bottom: -10px;
    margin-top: -10px;
}

html {
box-sizing: border-box;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: white;
    color: black;

    border-width:2px;
    border-style:solid;
    border-color:#bc2fcc;
}

.about-section p {
    color: black;
    font-size: 20px;
}

.align-center {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* button back to top */
#top-button {
    display: none;
    display: right;
    border: none;
    outline: none;
    background-color: #bc2fcc;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;

    position: sticky;
    bottom: 20px;
}
  
#top-button:hover {
    color: #bc2fcc;
    background-color: white;

    border-width:2px;
    border-style:solid;
    border-color:#bc2fcc;
}


@media screen and (max-width: 650px) {
.column {
    width: 100%;
    display: block;
    }
}



@import url('https://fonts.googleapis.com/css?family=Roboto:300');


.card{
  position: relative;
  display: inline-block;
  max-width: 700px;
  height: auto;
  background: linear-gradient(-45deg,#f403d1,#64b5f6);
  border-radius: 15px;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 30px;
  padding: 40px 20px;-webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
  box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
    -webkit-transition: .5s;
    transition: .5s;  
}

.title .fa{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius:  50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 10px rgba(0,0,0,.1) ;

}

.title h2 {
  position: relative;
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
 z-index: 2;
}

.name, .description{
  position: relative;
  z-index: 2;
}

.name h4 {
    margin: 0;
    padding: 20px 0 ;
    color: #fff;
    font-size: 60px;
    text-align: center;
    }

.description ul {
  margin: 0;
  padding: 0;
}

.description ul li {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.card a {
  position: relative;
  z-index: 2;
  background: #fff;
  color : black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-decoration: none;
  text-align: center;
  margin: 20px auto 0 ;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}

.card a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

p {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 18px;
}