/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    position: relative;
    height: 100%;
}

#photo-row {
    background-image: url("../img/semi-permanent/gel1.png");
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 100%;
    height: 500px;
}
/* write titles */

h2 { 
    color: black; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 100px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    text-shadow: 3px 2px 1px rgba(188,47,204,0.9);
}

h3 { 
    color: black; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #bc2fcc; 
}
 
h3 span { 
    background: white; 
    padding:0 15px; 
    border-radius: 2em;
}

h4 {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #bc2fcc;
    font-family: 'Helvetica Neue', sans-serif; 
    color: black;
}

/* write in the texts */
p { 
    color: black;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 18px; 
    line-height: 24px; 
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px; 
    text-align: justify; 
    text-justify: inter-word; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #bc2fcc;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

/* symbols */
.fas {
    margin-right: 5px;
}
.fa-circle {
    transform: scale(0.3);
}


/* disposition */
.row {
    width: 100%;
}

/* table at the bottom */
table, th, td {
    border-collapse: collapse;
    
}

table {
    color: black;
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 30px;
    padding: 40px 20px;
    -webkit-box-shadow: 0 10px 15px lightgrey;
    box-shadow: 0 10px 15px lightgrey;
        -webkit-transition: .5s;
        transition: .5s;  
}

th {
    height: 50px;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #bc2fcc; 
    color: #fff;
}

th:first-child {
    border-radius: 15px 0px 0px 0px;
    background: linear-gradient(-45deg,#f403d1,#64b5f6);
}

th:last-child {
    border-radius: 0px 15px 0px 0px;
    background: linear-gradient(45deg,#f403d1,#64b5f6);
}

th span {
    padding:0 15px; 
    border-radius: 2em;
}

td {
    padding: 15px;
    text-align: left;
    padding-top: 2px;
    padding-bottom: 10px;
    font-size:20px;
}

.fas .fa-check {
    transform: scale(0.8);
}

/* button back to top */
#top-button {
    border: none;
    outline: none;

    color: #bc2fcc;
    background-color: white;
    opacity: 0.8;

    border-width:2px;
    border-style:solid;
    border-color:#bc2fcc;
    

    cursor: pointer;
    width: 40px;
    height: 35px;
    padding: 10px;
    border-radius: 4px;

    position: sticky;
    bottom: 10px;

    margin-left: 97%;
}
  
#top-button:hover {
    color: white;
    background-color: #bc2fcc;
}

/* media queries */
@media screen and (max-width: 600px) {
    p {
        margin-left: 30px;
        margin-right: 30px;
    }

    td {
        padding: 5px;
    }

    h3 {
        line-height: 1.5em;
        border-bottom: white;
    }
}

@media screen and (max-width: 900px) {
    p {
        margin-left: 30px;
        margin-right: 30px;
    }

    td {
        padding: 5px;
    }

    h3 {
        line-height: 1.5em;
        border-bottom: #bc2fcc;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    html, body {
      scroll-behavior: smooth;
    }
}