/* -------------------- for the page overall --------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#photo-row {
    background-image: url("../img/semi-permanent/gel.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #cccccc;
    height: 500px;
    width: 100%;
}

/* write titles */

h3 { 
    color: white; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 0.1em;
    margin: 30px 0 30px;
    text-align: center; 

    width: 100%;
    border-bottom: 2px solid #bc2fcc; 
}
 
h3 span { 
    background:#fff; 
    padding:0 15px; 
    background-color: #64b5f6;
    border-radius: 2em;
}

/* write in the texts */
p { 
    color: #111;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; 
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-radius: 3em;
    border-top: 3px solid #bc2fcc;
    margin: 1em 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 5px;
}

/* write titles */
h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 70px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
}

.row {
    width: 100%;
}

.column {
    float: left;
    width: 50%;
    background-color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  